body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

/* HEADER */
header{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    padding:25px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,0.1);

    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

header h1{
    font-size:45px;
    margin-bottom:10px;
}

.subtitulo{
    color:#cbd5e1;
    font-size:16px;
}

/* HORA */
#fechaHora{
    color:#4ade80;
    font-size:18px;
    font-weight:bold;
    margin-top:10px;
}

/* CONTENEDOR */
.contenedor{
    display:flex;
    gap:20px;
    padding:20px;
}

/* PANEL */
.panel{
    width:32%;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:25px;

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 8px 25px rgba(0,0,0,0.3);

    height:85vh;

    overflow-y:auto;
}

.panel h2{
    margin-top:0;
    color:#4ade80;
}

/* INPUTS */
input,
select,
textarea{

    width:100%;

    padding:14px;

    margin-top:10px;
    margin-bottom:15px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.12);

    color:white;

    font-size:15px;

    outline:none;

    box-sizing:border-box;
}

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder{
    color:#cbd5e1;
}

/* SELECT */
select{
    color:white;
}

option{
    color:black;
}

/* TEXTAREA */
textarea{
    height:100px;
    resize:none;
}

/* BOTONES */
button{

    width:100%;

    padding:14px;

    margin-top:10px;

    border:none;

    border-radius:14px;

    background:linear-gradient(
    135deg,
    #22c55e,
    #16a34a
    );

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    box-shadow:
    0 6px 15px rgba(34,197,94,0.3);
}

button:hover{

    transform:translateY(-3px);

    background:linear-gradient(
    135deg,
    #4ade80,
    #22c55e
    );

    box-shadow:
    0 10px 20px rgba(34,197,94,0.5);
}

/* MAPA */
#map{

    width:68%;

    height:85vh;

    border-radius:20px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.4);
}

/* ESTADISTICAS */
.estadisticas{

    margin-top:20px;

    background:
    rgba(34,197,94,0.12);

    padding:20px;

    border-radius:20px;

    border:
    1px solid rgba(34,197,94,0.2);
}

/* PANEL ANALISIS */
.panel-analisis{

    display:none;

    margin:20px;

    background:
    rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    padding:20px;

    border-radius:20px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.3);

    text-align:center;
}

/* TABLA */
.tabla-contenedor{
    padding:20px;
}

table{

    width:100%;

    border-collapse:collapse;

    background:
    rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    border-radius:20px;

    overflow:hidden;

    color:white;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.3);
}

th{

    background:#16a34a;

    padding:14px;
}

td{

    padding:12px;

    border-bottom:
    1px solid rgba(255,255,255,0.1);

    text-align:center;
}

/* BOTON ELIMINAR */
td button{

    background:linear-gradient(
    135deg,
    #ef4444,
    #dc2626
    );
}

td button:hover{

    background:linear-gradient(
    135deg,
    #f87171,
    #ef4444
    );
}

/* GRAFICO */
#graficoResiduos{

    width:400px !important;

    height:400px !important;

    margin:auto;
}

/* RESPONSIVE */
@media(max-width:900px){

    .contenedor{
        flex-direction:column;
    }

    .panel,
    #map{
        width:100%;
    }

}
body{
    font-family:'Montserrat',sans-serif;
}